{% extends "base.html" %}
  
{% block title %}Bank Loan Records{% endblock title %}
  
{% block content %}

    
    <div class="col-md-12" style="overflow-x: auto;">
        <center><h2>Bank Records</h2></center>
        <span>
            <a href='http://localhost:8000/adminpanel/addnew/' class="btn btn-primary">Add New Record</a>
            <a href='http://localhost:8000/' class="btn btn-danger">Logout</a>
        </span>  
        <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>ID</th>
            <th>Bank name</th>
            <th>Interest Personal Loan</th>
            <th>Interest Business Loan</th>
            <th>Interest Home Loan</th>
            <th>Interest Education Loan</th>
            <th>Interest Vehicle Loan</th>
            <th>Max-Principal Personal Loan</th>
            <th>Max-Principal Business Loan</th>
            <th>Max-Principal Home Loan</th>
            <th>Max-Principal Education Loan</th>
            <th>Max-Principal Vehicle Loan</th>
            <th>Max-Duration Personal Loan</th>
            <th>Max-Duration Business Loan</th>
            <th>Max-Duration Home Loan</th>
            <th>Max-Duration Education Loan</th>
            <th>Max-Duration Vehicle Loan</th>  
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
        {% for i in loanDetails %}
            <tr>  
            <td><input type="checkbox" class="checkthis" /></td>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.interest_pl}}</td>
            <td>{{i.interest_bl}}</td>
            <td>{{i.interest_hl}}</td>
            <td>{{i.interest_el}}</td>
            <td>{{i.interest_vl}}</td>
            <td>{{i.principal_pl}}</td>
            <td>{{i.principal_bl}}</td>
            <td>{{i.principal_hl}}</td>
            <td>{{i.principal_el}}</td>
            <td>{{i.principal_vl}}</td>
            <td>{{i.time_pl}}</td>
            <td>{{i.time_bl}}</td>
            <td>{{i.time_hl}}</td>
            <td>{{i.time_el}}</td>
            <td>{{i.time_vl}}</td> 
            <td><a href="edit/{{ i.id }}" class="btn btn-primary">Edit</a></td>
            <td><a href="delete/{{ i.id }}" class="btn btn-danger">Delete</a></td>  
            </tr>  
        {% endfor %} 
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}


 